extends layoutg

block content 
	div.jumbotron
		h1=title
	table.clearfix: tr. 
						td. 
							p.imglg: img(src="/img/logo.jpg", )
							
			p.lead
				| Llamenos a los telefonos 2665-0000 y al 7878-7878.
				| Escribanos al correo electronoco elbuencamido@hotmail.com. 
				br/
				| Siganos en Facebook como fb.com/autoelbuencamino. 
				br/
				| Estamos Ubicados en La Rusvert, San Miguel, frente a Clinica San Francisco.  loooool