extends layoutg
block content
	table.clearfix: tr. 
						td. 
							p.imglg: img(src="/img/Auto.jpg", )
							a(class="btn btn-large btn-success", href="#") $2,500.00 Comprar
						td. 
							p.imglg: img(src="/img/celic.jpg", )
							a(class="btn btn-large btn-success", href="#") $5,300.00 Comprar
						td. 
							p.imglg: img(src="/img/celica.jpg", )
							a(class="btn btn-large btn-success", href="#") $6,325.00 Comprar
						td. 
							p.imglg: img(src="/img/dodge.jpg", )
							a(class="btn btn-large btn-success", href="#") $6,250.00 Comprar
							br/
block content2
	table.clearfix: tr.	
						h1.text-center Honda
						
						td
							p.imglg: img(src="/img/honda.jpg", )
							a(class="btn btn-large btn-success", href="#") $15,400.00 Comprar
						td. 
							p.imglg: img(src="/img/honda3.jpg", )
							a(class="btn btn-large btn-success", href="#") $10,500.00 Comprar
						td. 
							p.imglg: img(src="/img/honda4.jpg", )
							a(class="btn btn-large btn-success", href="#") $8,300.00 Comprar
						td. 
							p.imglg: img(src="/img/honda5.jpg", )
							a(class="btn btn-large btn-success", href="#") $14,250.00 Comprar
							br/