extends layoutg

block content 
	div.jumbotron
		h1=title
			p.lead
				| En nuestro sitio podras encontrar los mejos automoviles, de las mejores marcas en clases deportivos,
				| clasicos, modernos, veloces, casuales y hasta de trabajo.
				| Puede elegir el dise;o que mas le parezca y con gusto le atenderemos. 
				
	table.clearfix: tr. 
						td. 
							p.imglg: img(src="/img/Auto.jpg", )
							a(class="btn btn-large btn-success", href="#") $2,500.00 Comprar
						td. 
							p.imglg: img(src="/img/celic.jpg", )
							a(class="btn btn-large btn-success", href="#") $5,300.00 Comprar
						td. 
							p.imglg: img(src="/img/celica.jpg", )
							a(class="btn btn-large btn-success", href="#") $6,250.00 Comprar
						td. 
							p.imglg: img(src="/img/dodge.jpg", )
							a(class="btn btn-large btn-success", href="#") $6,250.00 Comprar