extends layoutg

block content 
	div.jumbotron
		h1=title
			p.lead
				| Compra de Vehiculos en Subasta U.S.A.
				| Brindamos Transporte Terrestre y Maritimo hasta Entregarte tu vehiculo en Aduana. 
				br/
				| Auto Lote "El Buen Camino": Te Asesoramos en la compra. 
				br/
				| Quieres comprar el auto que tu deseas  Para uso personal o negocio etc.… Te lo Importamos desde USA hacia, El Salvador, con SEGURIDAD, RESPONSABILIDAD EXPERIENCIA y GARANTÍA que tú buscas?
				br/
				| Auto Lote "El Buen Camino" es una empresa dedicada a la compra de vehículos en Subastas de USA para empresas y usuarios finales, y Transporte etc.
	table.clearfix: tr. 
						td. 
							p.imglg: img(src="/img/Autolot.jpg", )
						td. 
							p.imglg: img(src="/img/honda.jpg", )
						td. 
							p.imglg: img(src="/img/celic.jpg", )
						
								
						