div.masthead
	h3.text-center  Auto Lote "El Buen Camino"
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.avtive: a(href='/') Inicio
					li: a(href='/services') Servicios
					li: a(href='/galeria') Galeria
					li: a(href='/informacion') Informacion
					li: a(href='/proveedores') Proveedores